<!DOCTYPE html>
<html lang="nb-NO">
    <head>
        <title>Tellulf</title>
        <script src="client.js"></script>
        <link rel="stylesheet" href="client.css" />
        <link rel="manifest" href="/manifest.json">
        <meta name="theme-color" content="#000000">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    </head>

    <body>
        <clock>
            <div id="now_time">Kobler til</div>
            <div id="date_week">
                <div id="now_date"></div>
                <div id="now_week"></div>
            </div>
        </clock>

        <currentweather>
            <div id="current_temperature">{{ current_temperature }}&deg;</div>
            <div id="aux-weather-info">
                <div id="day_info_sun"><img src="assets/sunrise.png" width="22px" />&nbsp;{{ today.sunrise }}&nbsp;&nbsp; <img src="assets/sunset.png" width="22px" />&nbsp;{{ today.sunset }}</div>
                <div id="current_pressure"></div>
                <div id="current_humidity"></div>
            </div>
        </currentweather>

        <nowcast>
            {% for danger in danger_data%}
            <div class="danger"><strong>{{ danger.response }}</strong> {{ danger.description }}</div>
            {% endfor %}
            <div class="weather">
                {% for weather in hourly_weather|slice(1, 18) %}
                <forecast>
                    <div class="time">{{ weather.hour }}</div>
                    <div class="weather_symbol">
                        <img class="weather_icon" src="assets/weathericon/png/{{ weather.symbol }}.png" />
                    </div>
                    <div class="temperature">
                        {{ weather.instant.air_temperature|round }}&deg;
                    </div>
                    <div class="forecast_prob">
                        <div class="forecast_prob">
                            {% if weather.details.probability_of_precipitation|round != 0 %} {{ weather.details.probability_of_precipitation|round }}%
                            <br />
                            {{ weather.details.precipitation_amount }}mm {% else %} &nbsp;<br />
                            &nbsp; {% endif %}
                        </div>
                    </div>
                </forecast>
                {% endfor %}
            </div>
        </nowcast>

        <calendar>
            {% for day in days %} {% if day.birthdays is not empty or day.events is not empty or day.daily_forecast is not empty or day.dinner is not empty %}

            <day>
                <div class="dateHeader">
                    {{ day.weekday }}
                    <div class="headerWeather">
                        {% if day.daily_forecast is not empty %}
                        <div class="headerWeatherPrepArea">
                            {% if day.daily_forecast.lightRainProbability > 10 %}
                            <div class="weatherPrep light">
                                <img class="headerWeatherIconPrep light" style="opacity: 100%;" src="assets/weathericon/png/lightrain.png" />
                                <span class="rainProb">{{ day.daily_forecast.lightRainProbability }}%</span>
                            </div>
                            {% endif %} {% if day.daily_forecast.heavyRainProbability > 10 %}
                            <div class="weatherPrep heavy">
                                <img class="headerWeatherIconPrep heavy" style="opacity: 100%;" src="assets/weathericon/png/heavyrain.png" />
                                <span class="rainProb">{{ day.daily_forecast.heavyRainProbability }}%</span>
                            </div>
                            {% endif %}
                        </div>
                        <img class="headerWeatherTempIcon" src="assets/low-temperature.png" />
                        {{ day.daily_forecast.minTemp|round }}&deg;
                        <img class="headerWeatherTempIcon" src="assets/high-temperature.png" />
                        {{ day.daily_forecast.maxTemp|round }}&deg; {% endif %}
                    </div>
                </div>
                <div class="dinner">
                    {% for dinner in day.dinner %}
                    <div class="dinner"><img class="calendaricon birthday" src="assets/dinner.svg" />{{ dinner.displayTitle }}</div>
                    {% endfor %}
                </div>
                <div class="birthdays">
                    {% for birthday in day.birthdays %}
                    <div class="birthday"><img class="calendaricon birthday" src="assets/birthday.svg" />{{ birthday.displayTitle }}</div>
                    {% endfor %}
                </div>
                <div class="events">
                    {% for event in day.events %} {% if event.fullDay == true %}
                    <div class="event">{{ event.displayTitle }}</div>
                    {% else %}
                    <div class="event">
                        <span class="event-time">
                            <span class="event-time-start">
                                {{ event.displayTime.start }}
                            </span>
                            <span class="event-time-spacer">
                                {{ event.displayTime.spacer }}
                            </span>
                            <span class="event-time-start">
                                {{ event.displayTime.end }}
                            </span>
                        </span>
                        {{ event.displayTitle }}
                    </div>
                    {% endif %} {% endfor %}
                </div>
            </day>

            {% endif %} {% endfor %}
        </calendar>

        <footer>
            <div id="power-home">
                <div>
                    <strong>Hjemme</strong><br />
                    I dag: <span id="powerUsageTodayHome">_</span> kWh<br />
                    Nå: <span id="current_power"></span><br />
                    Pris: <span id="currentPriceHome"></span>
                </div>
            </div>

            <div id="power-cabin">
                <div>
                    <strong>Hytta</strong><br />
                    I dag: <span id="powerUsageTodayCabin">_</span> kWh<br />
                    Nå: <span id="currentPowerCabin"></span><br />
                </div>
            </div>

            <div id="bane"></div>

            <div id="cooler">
                <div><strong>Kjølerom</strong><br /></div>
                <div>Temp: <span id="coolerTemp">_</span>&deg;</div>
                <div>Fukt: <span id="coolerHumidity">_</span>%</div>
            </div>
        </footer>
    </body>
</html>
