<!DOCTYPE html>
<html lang="nb-NO">

<head>
  <title>Tellulf</title>
  <script src="/jquery.js"></script>
  <script src="/client.js"></script>
  <link rel="stylesheet" href="/client.css" />
</head>

<body>

  <div class="block time_and_date">
    <div class="now_time" id="now_time"></div>
    <div class="now_date" id="now_date"></div>
    <div class="now_week" id="now_week"></div>
  </div>
  <div class="block calendar" id="calendar">
    {% for day in days %}

    {% if day.birthdays is not empty or day.events is not empty or day.daily_forecast is not empty %}

    <div class="calendar_day">
      <div class="dateHeader">{{ day.weekday }}
        <div class="headerWeather">
          {% if day.daily_forecast is not empty %}
          <img class="headerWeatherTempIcon" src="assets/low-temperature.png" />
          {{ day.daily_forecast.minTemp|round }}&deg;
          <img class="headerWeatherTempIcon" src="/assets/high-temperature.png" />
          {{ day.daily_forecast.maxTemp|round }}&deg;
          <img class="headerWeatherIcon" src="assets/weathericon/png/{{ day.daily_forecast.symbol }}.png" />
          {% endif %}
        </div>
      </div>
      <div class="birthdays">
        {% for birthday in day.birthdays %}
        <div class="birthday">{{ birthday.displayTitle }}</div>
        {% endfor %}
      </div>
      <div class="events">
        {% for event in day.events %}
        {% if event.fullDay == true %}
        <div class="event">{{ event.displayTitle }}</div>
        {% else %}
        <div class="event">
          <span class="event-time">
          <span class="event-time-start">
            {{ event.displayTime.start }}
          </span>
          <span class="event-time-spacer">
            {{ event.displayTime.spacer }}
          </span>
          <span class="event-time-start">
            {{ event.displayTime.end }}
          </span>
          </span>{{ event.displayTitle }}
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    {% endif %}

    {% endfor %}
  </div>

  <div class="block power-home">
    <div>
      <strong>Hjemme</strong><br />
      Brukt: <span class="powerUsageTodayHome">_</span> kWh<br />
      Kost: <span class="powerCostTodayHome">_</span> kr<br />
      Nå: <span class="current_power"></span><br />
      Pris: <span class="currentPriceHome"></span>
    </div>
  </div>

    <div class="block power-cabin">
    <div>
      <strong>Hytta</strong><br />
      Brukt: <span class="powerUsageTodayCabin">_</span> kWh<br />
      Kost: <span class="powerCostTodayCabin">_</span> kr<br />
      Nå: <span class="currentPowerCabin"></span><br />
      Pris: <span class="currentPriceCabin"></span>
    </div>
  </div>
  <div class="block bane"></div>

  <div class="block cooler">
    <strong>Kjølerom</strong><br />
    Temp: <span class='coolerTemp'>_</span>&deg;<br />
    Fukt: <span class='coolerHumidity'>_</span>%
  </div>

  <div class="block current_weather">
    <div class="current_weather_block">
      <img class="current_weather_symbol" src="/assets/weathericon/png/{{ current_weather_icon }}.png" />
      <div class="current_temperature">{{ current_temperature|round }}&deg;</div>
    </div>
    <div class="current_weather_block aux-weather-info">
      <div class="day_info_sun">
        <img src="assets/sunrise.png" width="22px" />&nbsp;{{ today.sunrise }}&nbsp;&nbsp; <img src="assets/sunset.png"
          width="22px" />&nbsp;{{ today.sunset }}
      </div>
      <div class="current_pressure"></div>
      <div class="current_humidity"></div>
    </div>
  </div>

  <div class="block weather_nowcast">
    <div class="weather">
      {% for weather in hourly_weather|slice(1, 18) %}
      <div class="forecast_point">
        <div class="time">{{ weather.hour }}</div>
        <div class="weather_symbol">
          <img class="weather_icon" src="/assets/weathericon/png/{{ weather.symbol }}.png" />
        </div>
        <div class="temperature">
          {{ weather.instant.air_temperature|round }}&deg;
        </div>
        <div class="forecast_prob">
          <div class="forecast_prob">
            {% if weather.details.probability_of_precipitation|round != 0 %}
            {{ weather.details.probability_of_precipitation|round }}%
            <br />
            {{ weather.details.precipitation_amount }}mm
            {% else %}
            &nbsp;<br />&nbsp;
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>

</body>

</html>